# Generated directories and files
coverage
node_modules
bower_components
*/dist/
yarn.lock
junit.xml
copyStaticAssets.ts 
express.d.ts

# Secrets, local configuration
.env

# OS & editor metadata
._*
.DS_Store
Thumbs.db
.idea
*.iml
sendgrid.env
sendgrid.env

# package-lock.json

package-lock.json