# Generated directories and files
coverage
node_modules
bower_components
/auto-mail/
/database/
/login/
/sensors/
/web/src/
/web/public/
/web/sessions/
/web/views/
/web/dist/sensors/
*/dist/
yarn.lock
junit.xml
copyStaticAssets.ts 
express.d.ts
*/dist/

# Secrets, local configuration
.env

# OS & editor metadata
._*
.DS_Store
Thumbs.db
.idea
*.iml
sendgrid.env
sendgrid.env

# package-lock.json

package-lock.json