/* BASIC LAYOUT */

html {
	position: relative;
	min-height: 100%;
}
body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("/images/dolo-iglesias-z9z6u1rn7sY-unsplash.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-size: cover;
	margin: 0 0 80px 0;
	padding: 0 0 10px 0;
}
.content {
	font-family: "Work Sans";
	color: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	text-align: center;
}

/* NAVBAR */

#logo img {
	height: 1em;
}
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 3em 3em 3em;
	padding-top: 1em;
}
#navbar ul {
	list-style-type: none;
}
#navbar li.active a {
	color: #fece80;
}
#nav-links {
	display: flex;
}
nav ul li a {
	color: white;
	text-decoration: none;
	font-family: "Work Sans";
	font-size: 1.3em;
	margin: 0 1.5em;
}
nav ul li:last-child a {
	margin-right: 0;
}
nav ul li a:hover {
	color: #fece80;
}

/* FOOTER */

.footer {
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: fit-content;
	background: rgb(0, 0, 0);
	margin-top: 3em;
	padding: 10px 30px 20px 30px;

	color: #fff;
	font-family: "Work Sans";
	font-size: 0.85em;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#footer-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.heart {
	color: #d67436;
	font-size: 125%;
}

/* FOOTER: SOCIAL MEDIA ICONS */

#footer-bottom-sm-icons i {
	margin: 0.5em;
	font-size: 2em;
	color: #fff;
}
#footer-bottom-sm-icons i:hover {
	color: #fece80;
}
