<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering4Music: Data</title>
    {{!-- <script src="https://d3js.org/d3.v6.min.js"></script> --}}
    <script src="js/d3.v6.min.js"></script>
    <script src="js/graph.js"></script>
    <link href="css/main.css" rel="stylesheet" title="Default Style" />
    <link href="css/graph.css" rel="stylesheet" title="Default Style" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45e20ca475.js" crossorigin="anonymous"></script>
</head>

<body onload="loadDataDefault()">
    <nav id="navbar">
        <a href="/home">
            <img id="logo" src="/images/logo.png" alt="">
        </a>
        <ul id="nav-links">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item" class="active"><a href="/data">Data</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="content">
        <div id="graph-content">
            <div id="graph-top">
                <div id="graph-header">
                    <span class="date" id="date-min"></span>
                    <span> to </span>
                    <span class="date" id="date-max"></span>
                </div>
            </div>

            <div id="graph-middle">
                <div id="graph-icons">
                    {{!-- <i id="toggle-temperature-icon" class="fas fa-thermometer-full fa-4x"
                        onclick="toggleTemperature()"></i> --}}
                    {{!-- <button id="toggleHumidity" onclick="toggleHumidity()">Hide Humidity</button> --}}
                    {{!-- <button id="toggleTemperature" onclick="toggleTemperature()">Hide Temperature</button> --}}
                </div>
                <div id="graph-graph">
                    <div id="graph-graph"></div>
                </div>
                <div id="graph-control">
                    <button id="showAllData" class="button active" onclick="loadDataDefault()">All Data</button>
                    <button id="showLast24h" class="button" onclick="loadDataLast24h()">24 Hours</button>
                    <button id="showLast7d" class="button" onclick="loadDataLast7d()">7 Days</button>
                    <button id="showLast1m" class="button" onclick="loadDataLast1m()">1 Month</button>
                </div>
            </div>

            <div id="graph-bottom">
                <div id="graph-info-humidity">
                    <div id="humidity-info">Humidity </div>
                    <div id="humidity-min-max">
                        <div class="humidity-min-max-div"><span>Min: </span><span
                                id="humidity-min"></span><span>%</span></div>
                        <div class="humidity-min-max-div"><span>Max: </span><span
                                id="humidity-max"></span><span>%</span></div>
                    </div>
                </div>
                <div id="graph-info-temperature">
                    <div id="temperature-info">Temperature </div>
                    <div id="temperature-min-max">
                        <div class="temperature-min-max-div"><span>Min: </span><span
                                id="temperature-min"></span><span>°C</span></div>
                        <div class="temperature-min-max-div"><span>Max: </span><span
                                id="temperature-max"></span><span>°C</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" id="footer">

        <div class="footer" id="footer-bottom">

            <div class="footer" id="footer-bottom-logo">
                <img id="logo" src="/images/logo.png" alt="">
            </div>

            <div class="footer" id="footer-bottom-copy">
                <p>&copy; 2020 Engineering4Music. All rights reserved.</p>
            </div>

            <div class="footer" id="footer-bottom-sm-icons">
                <a href="#"><i class="fa fa-twitter fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-facebook fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-instagram fa-4x icon-3d"></i></a>
                <a href="#"><i class="fa fa-envelope fa-4x icon-3d"></i></a>
            </div>

            <div class="footer" id="footer-bottom-right">
                <p>Made with <span class="heart">♥</span> in Winterthur</p>
            </div>
        </div>
    </footer>
</body>

</html>