<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Engineering4Music: Home</title>
    <link href="css/main.css" rel="stylesheet" title="Default Style" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet" />
</head>

<body>
    <nav id="navbar">
        <a href="/home">
            <img id="logo" src="/images/logo.png" alt="">
        </a>
        <ul id="nav-links">
            <li id="nav-item" class="active"><a href="./home">Home</a></li>
            <li id="nav-item"><a href="./data">Data</a></li>
            <li id="nav-item"><a href="#">About</a></li>
        </ul>
    </nav>
    {{!-- <div>
        <p class="content wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minus maiores, veniam
            aspernatur dolore
            explicabo ratione sint! Minus unde odio nisi id, iusto iure eum aperiam quis rerum, ipsam, sed tenetur harum
            quo voluptas ducimus explicabo quas dicta praesentium perferendis nesciunt porro fuga iste! Totam, illum?
            Provident pariatur nam, quibusdam fuga quae tempore distinctio quasi eum quaerat sit cumque nesciunt,
            ducimus possimus voluptate reprehenderit velit expedita explicabo laudantium fugiat alias fugit iure soluta
            quas? Laboriosam unde laborum est molestiae pariatur dolorem fuga quod voluptatum sapiente ex. Dolore porro
            pariatur ducimus, animi exercitationem ab libero maxime fugiat, explicabo vero expedita et officia rerum
            commodi culpa necessitatibus voluptas. Ipsa totam quasi adipisci, harum, ut dignissimos nemo iste fugiat
            nostrum temporibus consequatur perspiciatis, earum quo saepe? Aut esse alias maiores beatae consequatur
            adipisci nemo, magni laborum rerum consectetur quis ratione saepe autem sed est repellat doloribus velit non
            nihil minima nisi. Ad culpa non facilis saepe ab fuga numquam corporis, iure eveniet quasi quos
            exercitationem minus, modi, est tempore quam accusamus officiis similique officia. Eius dolorem laborum
            rerum ipsum repellendus, quidem vero magnam numquam impedit iusto voluptatibus commodi est quam voluptatum
            ea molestiae animi tenetur ab voluptas eaque architecto quia corporis vitae? Enim suscipit vel similique?
            Eos tempora consectetur repellat vitae suscipit quos laudantium autem commodi delectus recusandae corporis
            laboriosam quas, velit itaque enim quod. Beatae laborum culpa ut dolores accusamus veniam dicta, sequi
            exercitationem quaerat totam recusandae sit voluptas sed sapiente maxime obcaecati ab officiis vel aliquid.
            Quia sit sunt exercitationem, quasi ducimus vero? Suscipit harum voluptatibus natus saepe odit cum assumenda
            id et. Ea saepe blanditiis minus, sint ipsum, cumque, similique illum enim odio excepturi at! Quam animi
            accusamus earum et molestiae laboriosam voluptatibus optio laborum ullam tempora, vel aut magni nostrum
            explicabo ea accusantium blanditiis! Minus nisi deserunt qui ea blanditiis nulla error dolor voluptas vitae
            quisquam, veritatis natus ut sed quidem architecto distinctio explicabo hic exercitationem. Quas atque illum
            aspernatur. Hic, itaque ipsum! Eius asperiores repudiandae consectetur, consequuntur atque dolores ratione,
            dignissimos corporis voluptatem molestiae, voluptate et quibusdam? Dignissimos alias optio molestias
            adipisci deserunt mollitia unde quibusdam iure culpa recusandae, dicta atque, corporis modi repudiandae, id
            totam amet explicabo minus quo laboriosam a architecto error. Odit minus atque magni, maxime, nam adipisci
            vitae veritatis itaque delectus consequatur ullam illo ducimus nostrum nihil veniam eos facere fuga magnam
            provident eius molestias libero? Voluptatum saepe itaque cum perferendis, soluta dolor ipsa at adipisci
            dolore ex assumenda nulla nam vel laborum voluptates consequuntur hic minima mollitia est voluptatem iusto
            aliquam aliquid exercitationem? Libero ipsa eum iusto odit reiciendis magni, hic harum ducimus! Consequatur
            pariatur illo modi molestiae omnis provident, nam tenetur odio exercitationem, unde error quae veritatis
            maiores magnam, voluptates totam numquam similique vitae quos officia blanditiis? Quo dolor magnam odit?
            Tempora vel officia similique quam numquam et quis. Amet ratione id omnis cum! Magni ipsam ad aut officiis
            expedita assumenda aliquid, cupiditate laudantium ullam nulla! Laborum dolores quisquam, debitis et, nisi
            est facilis ex, unde voluptatum quibusdam consectetur quis ullam ratione. Adipisci, tempora. In consectetur
            soluta id dolores nisi, dolore pariatur, aperiam nostrum sint corrupti sit nam, quis voluptatibus?
            Praesentium, quod, veritatis voluptas necessitatibus placeat reprehenderit, autem rem sapiente fugiat atque
            fugit assumenda nam id tenetur velit obcaecati vitae illum perferendis! Optio eum inventore voluptatibus eos
            exercitationem nobis. Culpa molestias voluptas soluta minus, vitae quo expedita? Accusantium tenetur modi
            iure hic, suscipit inventore maiores delectus repudiandae cum quia, perspiciatis nostrum magni labore
            dolorem earum, facilis asperiores optio aspernatur! Perferendis in reiciendis quis temporibus, nam quod
            perspiciatis, facere harum explicabo sit optio cum illum animi, velit adipisci voluptatibus quos officia
            minima expedita? Labore, inventore, placeat eveniet voluptas non facere quas, obcaecati iusto cumque natus
            alias a neque possimus quidem tempora magnam voluptate eum? Natus consequatur, hic nam optio ratione
            possimus placeat aliquam, modi sapiente nostrum minima qui repellendus veniam quidem? Deserunt assumenda
            pariatur recusandae corporis nostrum asperiores optio explicabo magnam illum voluptatum corrupti debitis
            quam, quidem magni adipisci vero ducimus fugit? Recusandae quaerat voluptatibus ut cumque quae, explicabo
            tempore amet odit modi tenetur rem possimus. Non consequatur, eveniet debitis amet suscipit optio cum neque
            natus vel doloremque corrupti tempore. Error excepturi doloribus fugit velit officiis a alias sunt
            reiciendis placeat adipisci sequi nisi, amet vero, dolorem earum non. Hic et atque quos. Incidunt
            exercitationem quos voluptate error, accusamus aut natus eos. Aliquam suscipit est praesentium sunt
            perspiciatis. Hic molestias sapiente iusto repellat eveniet fugiat ex repellendus doloremque quia vitae ipsa
            dignissimos veritatis, nostrum delectus eligendi, adipisci similique unde voluptatem nesciunt. Dolores
            obcaecati in voluptates quam. Harum atque alias itaque sequi voluptas illum nisi illo fugiat minus, possimus
            animi unde ea quam? Animi, maxime nobis? Maxime dignissimos veritatis, et porro, voluptate excepturi, qui
            dolorem suscipit officiis alias unde dolores placeat sequi repudiandae ducimus! Necessitatibus, porro
            possimus aspernatur corporis accusantium, ratione placeat perferendis nobis voluptatem saepe obcaecati
            similique ducimus! Aspernatur voluptate nemo quaerat blanditiis explicabo iusto officia nostrum totam,
            placeat in dolor illo, ad fugiat odit. Unde aspernatur ea fugiat voluptatum velit quas explicabo dolor,
            ratione vitae accusamus numquam enim consequatur distinctio? Vero, fugit eos. Velit optio dolore vero
            quisquam, sequi, corrupti laudantium facere at ullam pariatur quibusdam deserunt nemo ipsam! Et quasi
            dolores ipsa autem qui cupiditate eum nostrum maiores quas sequi vitae perferendis ex dicta suscipit,
            provident similique. Quae culpa aperiam a unde nostrum sapiente necessitatibus modi, id odit voluptates
            ratione nobis enim eaque nisi corporis maiores! Veniam, amet placeat laborum blanditiis quod iure doloribus
            cumque neque culpa! Cupiditate inventore ullam saepe minima, unde magni assumenda repellat dolorem qui cum
            debitis quidem eos maxime omnis veritatis? Facilis iusto nobis fugiat aperiam corporis illo quisquam quod
            temporibus? Suscipit dolorem non itaque mollitia a, asperiores at iure, neque tenetur possimus accusantium
            fuga voluptatem aperiam sint aut sapiente sunt necessitatibus repellendus molestias dolor eaque nam,
            exercitationem id! Aliquid eius sed eos deserunt quam ullam natus iste dolores. Aut soluta temporibus ad
            nostrum harum excepturi, quam natus reprehenderit. Eum, dolorem. Minima, impedit? Tempore maiores eius
            veritatis iusto. Impedit qui, temporibus labore error, perferendis corporis molestias tenetur sequi
            voluptate dolores eveniet suscipit atque totam consectetur est. Labore, repellat. Debitis rerum ex quae
            beatae facere, eaque modi tempora dolore accusamus. Reprehenderit saepe nobis architecto non officiis
            exercitationem aliquid consectetur magni illo porro repudiandae ut pariatur iure nostrum soluta libero,
            obcaecati eos neque? Error magnam mollitia adipisci ab doloremque nihil assumenda fugiat maxime alias
            repellendus labore commodi explicabo id delectus tempora, nulla iusto enim nobis consectetur culpa quaerat
            temporibus, eaque consequuntur? Magni adipisci voluptate, quibusdam minima, cupiditate reprehenderit
            recusandae doloremque velit ratione aut deserunt commodi, fugiat aspernatur sunt consectetur voluptas. Odit
            iure animi culpa maiores architecto totam non, quaerat natus, sed facilis obcaecati qui blanditiis corporis
            nemo incidunt officiis rerum voluptas quod facere eum consequuntur. Voluptatibus maiores alias aspernatur
            aut illo explicabo consectetur, excepturi similique suscipit veniam delectus nam deleniti quo dolore placeat
            autem eligendi fugit. Perspiciatis provident corporis praesentium harum, placeat quos temporibus eligendi
            quaerat tempore dolorum? Aspernatur, non? Mollitia dolorum a eos, voluptatum explicabo sapiente tenetur
            officiis facilis ducimus sit magnam delectus consequuntur odit modi perferendis totam, nobis id ab? Sequi
            unde tempore cum mollitia fuga, amet aliquid aperiam excepturi. Ipsum maxime explicabo dicta, similique
            debitis odit vero fugiat quo soluta, eum suscipit alias iusto nostrum ullam facere, praesentium saepe!
            Debitis, fuga maxime! Repudiandae dicta facilis veritatis molestias, suscipit, minima recusandae, quisquam
            omnis natus minus repellendus non officiis adipisci reiciendis fugit accusantium nam odit sed laudantium eum
            exercitationem sequi. Aperiam incidunt molestiae odio natus eum ad similique culpa aut perferendis enim
            minus corporis necessitatibus praesentium exercitationem sapiente numquam iure molestias accusamus hic quam,
            esse adipisci officiis maiores in. Dignissimos veritatis tempora accusantium, sapiente assumenda itaque.
            Debitis, sapiente provident harum adipisci quo doloremque fuga inventore temporibus. Voluptatum accusamus
            deleniti eligendi magnam reprehenderit veniam aut animi ullam veritatis molestiae assumenda neque eos odio
            facere omnis voluptatibus qui itaque, eaque et quisquam quos? Assumenda, laboriosam eum iste, nam commodi
            quam, est corrupti quibusdam totam unde corporis! Id expedita voluptas maxime! Ab, nobis error ex facere
            quisquam quas quis exercitationem quod aliquid! Et, perferendis eum delectus dolor temporibus ullam
            laboriosam, voluptate consectetur aliquam repudiandae neque pariatur corrupti ex culpa asperiores libero
            rerum itaque aspernatur aperiam deserunt. Illum, aperiam quam? Ex sapiente, tenetur ipsa debitis nobis quas,
            soluta facilis sequi inventore perspiciatis voluptas voluptates quaerat! Expedita voluptas, deleniti iste
            nihil esse repudiandae natus obcaecati velit. Debitis dignissimos, maiores dolor sapiente voluptatum optio
            nam adipisci dolorum provident. Eius officiis sit beatae aspernatur quidem hic incidunt quisquam, quod
            similique repudiandae placeat porro mollitia impedit debitis aperiam cupiditate omnis assumenda saepe odio
            illo dolor. Natus et nobis, harum error praesentium cum tempora? Necessitatibus similique explicabo, quae
            animi vero minus ducimus voluptate provident fuga quod nisi recusandae autem tempore quasi nobis eligendi
            deleniti. Architecto sunt blanditiis voluptas, ea atque neque? Vitae repellat architecto labore sunt
            inventore distinctio quaerat quasi aspernatur voluptatibus maiores earum at cupiditate, sapiente fuga
            dignissimos debitis commodi reprehenderit possimus itaque vel deserunt illum eaque? Dolor aliquam,
            distinctio vitae totam officiis id tempore, voluptatum architecto aspernatur possimus illo libero natus
            omnis dolores quasi eos, minus est atque consequuntur aperiam ad fugiat? At, quod repudiandae suscipit
            libero eum nulla quidem dolorum incidunt veritatis optio ad itaque rerum earum animi? Mollitia, quisquam
            inventore, animi earum magnam ad cumque molestiae obcaecati, aliquid consequuntur sint. Nam totam soluta
            beatae perspiciatis. Distinctio sint est ratione harum id alias accusamus corrupti pariatur molestiae error
            magnam, perferendis quae dicta, sunt, animi iste voluptatibus ipsa! Neque nam inventore dicta, eaque, in
            fuga officiis iusto, dolorem assumenda aperiam eveniet et vero illum voluptas ea. Quos blanditiis unde
            nostrum culpa ea neque ut deserunt, veritatis excepturi recusandae atque odio quod amet a eligendi
            cupiditate tempore voluptatum asperiores praesentium eius doloribus quaerat nisi inventore est! Adipisci
            quisquam molestiae dignissimos in et esse dicta fugiat illum rerum, ab quis consectetur ducimus eaque quia.
            Repellat alias voluptatibus, cumque autem ea vitae modi blanditiis provident error. Suscipit et beatae sunt
            delectus repellendus. Repellendus rerum dolorum deserunt cupiditate est quis accusamus non tenetur? Sunt,
            nihil. Cum velit magni blanditiis, pariatur magnam dignissimos esse. Adipisci cum vero neque debitis dolor
            rerum libero, ex temporibus, illo labore earum suscipit dignissimos in quisquam nemo praesentium nobis modi
            ducimus fugit aspernatur. Voluptatum est, corrupti laborum aliquam quibusdam eius corporis illo maxime
            quisquam culpa voluptas error incidunt vel autem assumenda dolores ex ratione? Iure distinctio, hic quo
            facilis fuga consequuntur beatae assumenda tempora voluptatum perferendis, vel quasi eveniet autem ut
            provident minus pariatur natus esse a quod quas nobis in enim quam. Cum possimus numquam illum
            necessitatibus, corporis perspiciatis laboriosam, eveniet vel eaque laborum vero unde deserunt nam omnis
            quod neque veniam error aperiam iure mollitia quis asperiores officia? At repellat consequatur atque.
            Reiciendis nobis fugiat, nam ducimus aliquam amet quas vitae alias deserunt architecto sint rem magnam?
            Possimus beatae quas in soluta unde porro dicta debitis consectetur, sit inventore perspiciatis, dolor
            facere, dolore doloremque explicabo fugit quam! Dolor maxime, error optio eligendi aspernatur soluta maiores
            consectetur excepturi mollitia recusandae enim labore obcaecati quod iure quas rem? Ab architecto vitae
            excepturi natus debitis quae doloribus blanditiis saepe temporibus recusandae perferendis nostrum aliquam,
            rem tempora! Sapiente a cupiditate sit, dolorum nobis autem porro asperiores et excepturi adipisci aperiam
            ut fuga illo sint doloremque eum molestias iure impedit neque odio dolor modi quibusdam eos. Placeat,
            provident. Impedit enim nisi esse molestias, consequuntur, asperiores, ex rem omnis repellat aperiam quaerat
            debitis. Vitae, possimus iusto. Soluta quis vitae illo ea quas veniam veritatis itaque nesciunt ipsum
            tenetur ut ullam, sint dolorum omnis harum asperiores numquam fugit quibusdam tempore eius quidem! Optio
            earum error quod accusamus magni voluptates quam nobis iste, placeat odit dolore, dicta sapiente? Nisi
            expedita alias debitis dolore minus, quas perferendis temporibus sequi id non aperiam quis tempore, pariatur
            iusto! Quisquam quas alias modi laboriosam excepturi in dolorem debitis? Repellendus nihil error voluptate
            iure impedit odio modi quod quisquam blanditiis dolorem dolor laboriosam provident, dicta praesentium
            voluptatibus! Nisi quod quam repudiandae dolor reprehenderit earum architecto, sed dolorum magni culpa animi
            blanditiis repellat consequuntur quo delectus, expedita vitae quis suscipit. Molestiae, nobis! Culpa
            architecto ipsam blanditiis obcaecati?</p>
    </div> --}}

    <footer class="footer" id="footer">

        <div class="footer" id="footer-top">
            <div class="footer" id="footer-top-left">
                {{!-- <p>footer-bottom-left</p> --}}
                <img id="logo" src="/images/logo.png" alt="">
            </div>

            <div class="footer" id="footer-top-middle">
                <p>Social Media Icons</p>
            </div>

            <div class="footer" id="footer-top-right">
                {{!-- <h2>Contact</h2> --}}
                <a class="footer-button" href="mailto:example@gmail.com">Email Us</a>
            </div>
        </div>

        <div class="footer" id="footer-bottom">
            {{!-- <p>footer-bottom</p> --}}
            <div class="footer" id="footer-bottom-left">
                {{!-- <p>footer-bottom-left</p> --}}
                <p>&copy; 2020 Engineering4Music. All rights reserved.</p>
            </div>

            <div class="footer" id="footer-bottom-right">
                {{!-- <p>footer-bottom-right</p> --}}
                <p>Made with <span class="heart">♥</span> in Winterthur</p>
            </div>
        </div>
    </footer>

</body>

</html>


{{!-- <h1>{{ title }}</h1> --}}