<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Example App</title>
	<link href="/css/main.css" rel="stylesheet" title="Default Style">
</head>

<body>
	<h1>Engineering4Music</h1>
	<p> Temperature at {{{date}}} is {{{temperature}}}.
	</p>
	<p> Humidity at {{{date}}} is {{{humidity}}}.
	</p>
</body>

</html>